
<div class="px-3 py-2 border-bottom mb-3 bg-light">
    <div class="container d-flex flex-wrap justify-content-center">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">

                        <li class="nav-item">
                            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                                Home
                            </NavLink>
                        </li>

                        <AuthorizeView>
                            <Authorized>
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                                        [Authorized example link]
                                    </NavLink>
                                </li>
                            </Authorized>
                            <NotAuthorized>
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="Account/Register?UserType=Student">
                                        Register as a student
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="Account/Register?UserType=Teacher">
                                        Register as a teacher
                                    </NavLink>
                                </li>
                            </NotAuthorized>
                        </AuthorizeView>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

