@page "/Teacher/"
@attribute [Authorize(Roles = "Faculty")]


<PageTitle>Teacher Home</PageTitle>

<h1>Teacher</h1>

[Teacher Courses]

<Button Color="ButtonColor.Primary" TooltipTitle="Create a new activity"
    @onclick="ShowCreateActivityFormModal">Placeholder Create Activity Button</Button>

<Modal @ref="_createActivityFormModal" Title="Create New Activity"
    HeaderCssClass="d-flex flex-row justify-content-between">
    <BodyTemplate>
        <CreateActivityForm />
    </BodyTemplate>
</Modal>


@code {

    private Modal _createActivityFormModal = default!;

    private async Task ShowCreateActivityFormModal()
    {
        await _createActivityFormModal.ShowAsync();
    }
}