@page "/Teacher/"

<PageTitle>Teacher Home</PageTitle>

<h1>Teacher</h1>

<h3>Current courses</h3>

<TeacherCourses />

<div class="my-4">
    <h3>Actions</h3>

    @* CREATE A NEW MODULE *@
    <Button Color="ButtonColor.Primary" TooltipTitle="Create a new module"
            @onclick="ShowCreateModuleFormModal">
        Add New Module
    </Button>

    <Modal @ref="_createModuleFormModal" Title="Create New Module"
        HeaderCssClass="d-flex flex-row justify-content-between">
        <BodyTemplate>
            <CreateModuleForm />
        </BodyTemplate>
    </Modal>

    @* CREATE A NEW ACTIVITY *@
    <Button Color="ButtonColor.Primary" TooltipTitle="Create a new activity"
        @onclick="ShowCreateActivityFormModal">Add New Activity</Button>

    <Modal @ref="_createActivityFormModal" Title="Create New Activity"
        HeaderCssClass="d-flex flex-row justify-content-between">
        <BodyTemplate>
            <CreateActivityForm />
        </BodyTemplate>
    </Modal>

    <CreateCourse />
</div>


@code {

    private Modal _createActivityFormModal = default!;
    private Modal _createModuleFormModal = default!;

    private async Task ShowCreateActivityFormModal()
    {
        await _createActivityFormModal.ShowAsync();
    }
    
    private async Task ShowCreateModuleFormModal()
    {
        await _createModuleFormModal.ShowAsync();
    }
}